.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
}

.loader span {
  margin-top: 30px;
}

.back {
  position: fixed !important;
  display: block;
  flex-direction: row;
  margin-top: -20px;
}
